<%= form_with(model: [:admin, article]) do |form| %>
  <% disabled = (article.status == "waiting_for_review") %>
  <% if article.errors.any? %>
    <div class="text-red-600 mb-4">
      <h2 class="font-semibold mb-2"><%= pluralize(article.errors.count, "error") %> prohibited this admin_article from being saved:</h2>
      <ul class="list-disc list-inside">
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.fields_for :content do |content_form|%>
    <div class="form-control">
      <%= content_form.label :title, class: "label" %>
      <%= content_form.text_field :title, class: "input input-bordered w-full focus:outline-none focus:ring-2 focus:ring-gray-100 focus:ring-opacity-50" %>
    </div>
  <%end %>
  <div class="form-control">
    <%= form.label :description, class: "label" %>
    <%= form.text_area :description, class: "textarea textarea-bordered w-full h-24 resize-y focus:outline-none focus:ring-2 focus:ring-gray-100 focus:ring-opacity-50", disabled: disabled %>
  </div>
  <!-- Cover Image Upload Section -->
  <div>
    <div class="flex justify-end">
      <% if article.status == "waiting_for_review" %>
        <%= hidden_field_tag "article[status]", "waiting_for_review" %>
        <%= button_tag "Reject", type: "submit", name: "article[status]", value: "draft", class: "bg-red-600 mr-2 hover:bg-red-700 text-white font-semibold py-2 px-4 rounded" %>
        <%= button_tag "Approve", type: "submit", name: "article[status]", value: "published", class: "bg-green-600 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded" %>
      <% else %>
        <%= button_tag "Save as Draft", type: "submit", name: "article[status]", value: "draft", class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded mr-2" %>
        <%= button_tag "Submit for Review", type: "submit", name: "article[status]", value: "waiting_for_review", class: "bg-gray-300 hover:bg-gray-400 text-gray-800 font-semibold py-2 px-4 rounded" %>
      <% end %>
    </div>
  </div>
<% end %>
